[Unit]
Description=Kodi standalone
After=remote-fs.target systemd-user-sessions.service network-online.target nss-lookup.target sound.target bluetooth.target polkit.service upower.service mysqld.service lircd.service
Wants=network-online.target polkit.service upower.service
Conflicts=getty@tty1.service

[Service]
User=kodi
Group=kodi
SupplementaryGroups=audio disk input network optical power storage tty uucp video video_dma
EnvironmentFile=-/etc/conf.d/kodi-standalone
PAMName=login
TTYPath=/dev/tty1
ExecStart=/usr/lib/kodi/kodi.bin --standalone
Restart=always
StandardInput=tty
StandardOutput=journal

[Install]
Alias=display-manager.service
