[Unit]
Description=Restart Service After Suspend
After=suspend.target network-online.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart kodi-x11.service

[Install]
WantedBy=suspend.target
